
{% extends 'base.html' %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="p-3 m-3">
        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">
            
                <img
                src="https://michiganross.umich.edu/sites/default/files/images/articles/online-grocery-delivery.jpg" alt=""
                class="" style="height: 150px;">
            <hr>
            </div>
            <h3 class="alert alert-light rounded-pill" style="text-align:center" >Login</h3>
            
            <form method="post">
                {% csrf_token %}
                {{form|crispy}}

                <button type="submit">Log In</button>
                <br><br>
                
                <div>
                    <a class="nav-link" href="{% url 'signup' %}">Don't have any account?</a>
                </div>
            </form>


        </div>
    </div>
</div>

{% endblock %}



{% comment %} {%extends 'base.html'%}


{% block content %}
    <div class="container">
        <br>
        <br>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>
    </div>

{% endblock content %} {% endcomment %}

{% comment %} --------------------------------------------- {% endcomment %}