{% extends 'base.html' %}
{% load static %}
{% block title %}All categories{% endblock %}
{% block content %}


{% comment %} Show In Admin Panel {% endcomment %}


<a href="{% url 'add_food' %}" class="btn button-170">Add Food</a>
<a href="{% url 'add_category' %}" class="btn button-170">Add Category</a>
<a href="{% url 'add_meal' %}" class="btn button-170">Add Meal</a>

<div id='foods_list'>
<h3> all Foods </h3>
{% for food in menuitem_list %}
<div class="row">
    <div class="col-md-10" style="margin:0 auto;">
        <div class="card container-fluid" style="margin-top: 1rem;">
            <div class="card-body">

              <h5 class="card-title">{{food.food.name}}</h5> 
              <img src="{{food.image.url}}" height="100" alt='XXXXX'>  
                        
            </div>
          </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
