{% extends 'base.html' %}
{% load static %}
{% block title %} Restaurant Branches{% endblock %}
{% block content %}

{% comment %} Show In Admin Panel {% endcomment %}

<div id='foods_list' class='m-5'>
<h3>  Restaurant Branches {{restaurant}}</h3>
{% for branch in branch_list %}
<div class="row">
    <div class="col-md-10" style="margin:0 auto;">
        <div class="card container-fluid" style="margin-top: 1rem;">
            <div class="card-body">
              <h5 class="card-title">{{branch.name}} {{branch.restaurant.name}}</h5> 
              <p>{{branch.address}}</p>   
              <a href="{% url 'restaurant_menu' branch.pk %}" class="btn btn-warning">Menu</a>
              <a href="{% url 'branch_popular_foods' branch.pk %}" class="btn btn-warning">Popular Foods</a>
             
            </div>
          </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
