{% extends 'base.html' %}
{% load static %}
{% block title %}All categories{% endblock %}
{% block content %}

{% comment %} <div class="row"> 
  <div class="col-md mx-sm-2" style="margin: 0 auto;">
      <form method='post'>
        {% csrf_token %}
        <button id='empty_categories' type="submit" class="btn col-4 btn-primary btn-block" style="display: block;margin: 1rem auto;">Empty Categories</button>
      </form>
      <form method='post'>
        {% csrf_token %}
        <button id='popular_categories' type="submit" class="btn col-4 btn-primary btn-block" style="display: block;margin: 1rem auto;">Popular Categories</button>
      </form>
  </div> 
</div>  {% endcomment %}
{% comment %} <a href="{% url 'add_food' %}" class="btn btn-warning">افزودن غذا </a>
<a href="{% url 'add_category' %}" class="btn btn-warning">افزودن دسته بندی</a>
<a href="{% url 'add_meal' %}" class="btn btn-warning">افزودن وعده غذایی</a> {% endcomment %}

<div id='foods_list' class='m-5'>
<h3> popular Foods : </h3>
{% for food in food_list %}
<div class="row">
    <div class="col-md-10" style="margin:0 auto;">
        <div class="card container-fluid" style="margin-top: 1rem;">
            <div class="card-body">
             
              <h5 class="card-title">{{food.food.name}} | {{food.branch.restaurant.name}} {{food.branch.name}}</h5>              
              <img src="{{food.image.url}}" height="100" alt={{food.food.name}}>  
                        
            </div>
          </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}



{% comment %} {% block javascript %}
<script>
    var CSRF_TOKEN = '{{ csrf_token }}';
    var EMPTY_CATEGORY_URL = "{% url 'empty_categories' %}"
    var POPULAR_CATEGORIES_URL = "{% url 'popular_categories' %}"
</script>
<script src={% static '/js/category.js' %}></script>
{% endblock javascript %}  {% endcomment %}