{% extends 'base.html' %}
{% block content %}

<div class='m-5'> 
  <h1>Delete Restaurant</h1>
  <form action="" method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ restaurant.name }}"?</p>
    <input type="submit" value="Confirm">
  </form>
</div> 

{% endblock content %}




{% comment %} {% block javascript %}
<script>
    var CSRF_TOKEN = '{{ csrf_token }}';
    var EMPTY_CATEGORY_URL = "{% url 'empty_categories' %}"
    var POPULAR_CATEGORIES_URL = "{% url 'popular_categories' %}"
</script>
<script src={% static '/js/category.js' %}></script>
{% endblock javascript %}  {% endcomment %}