<div  class="col-5 mx-auto"> 
    <div class='mr-5 mb-5'>
        <h1 class = 'text-center'>Mnager Panel</h1>
    </div>		
    <div class="row"  > 
        <div class="col-md mx-sm-2" style="margin: 0 auto;">
            <p><a href="{% url 'branch_menu' %}" class="button-17 btn-block text-decoration-none">Menu</a></p>
            <p><a href="{% url 'branch_orders' %}" class="button-17 btn-block text-decoration-none">Orders</a></p>
            {% comment %} <p><a href="{% url 'branch_edit' uer.id %}" class="button-17 btn-block text-decoration-none">Change Info</a></p> {% endcomment %}

           
        </div> 
    </div> 
</div> 