<div  class="col-5 mx-auto"> 
    <div class='m-4'>
        <h1 class = 'text-center'>Admin Panel</h1>
    </div>		
    <div class="row"  > 
        <div class="col-md mx-sm-2" style="margin: 0 auto;">
            <p><a href="{% url 'food_list' %}" class="button-17 btn-block text-decoration-none">Foods</a></p>
            <p><a href="{% url 'popular_foods' %}" class="button-17 btn-block text-decoration-none">Popular Foods</a></p>
            <p><a href="{% url 'customer_list' %}" class="button-17 btn-block text-decoration-none">Customers</a></p>
            <p><a href="{% url 'restaurant_list' %}" class="button-17 btn-block text-decoration-none">Restaurants</a></p>
            <p><a href="{% url 'popular_restarunts' %}" class="button-17 btn-block text-decoration-none">Popular Restaurants</a></p>
            <p><a href="{% url 'meal_list' %}" class="button-17 btn-block text-decoration-none">Meals</a></p>
            <p><a href="{% url 'category_list' %}" class="button-17 btn-block text-decoration-none">Categories</a></p>
            <p><a href="{% url 'manager_list' %}" class="button-17 btn-block text-decoration-none">Managers</a></p>
            <p><a href="{% url 'admin_signupp' %}" class="button-17 btn-block text-decoration-none">Register New Admin</a></p>
        </div> 
    </div> 
</div> 