{% extends 'base.html' %}
{% load static %}
{% block content %}
	{% for message in messages %}
	<div class="container-fluid p-0" style="width:600px;">
	<div class="alert {{ message.tags }} alert-dismissible" role="alert" >
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">×</span>
		</button>
		{{ message }}
	</div>
	</div>
	{% endfor %}
	{# icon and search-box #}

	{% if user.is_customer or not user.is_authenticated %}
	<div id='backimg'  class='d-flex align-items-center justify-content-center'
	style='background-image: url("https://restaurantindia.s3.ap-south-1.amazonaws.com/s3fs-public/2022-01/Food%20Trend.jpg");
	height: 500px;
	width: 100%;
	background-color: orange;
	opacity: 0.9;'>
		
		<div class='container d-flex align-items-center justify-content-center'>
			<div class='row'>
				<div class='col-md-12 d-flex align-items-center justify-content-center mb-5'>
					<h1>
						E-Food
					</h1>
				</div>
				<div class='col-md-12 d-flex align-items-end justify-content-center mb-5'>
					<p style='background-color: whitesmoke;'>
						Save Your Time
					</p>		
				</div>

				
				<div class='text-center col-md-12 '>
					
					<input id="user-input" placeholder="Search" 
					class='col-12'>
					{% comment %} <i id="search-icon" class="fas fa-search" ></i> {% endcomment %}

				</div>
			</div>
			
		</div>

	</div>
	
	{% endif %}


	{% if user.is_authenticated %} 
		
		{% if user.is_site_admin %}
			{% include 'admin_panel.html' %}
		{% endif %}

		{% if user.is_customer %}
			
			{% include 'start_page.html' %}
			
        {% endif %}

		{% if user.is_restaurant_manager %}
			<div class='m-5'>
				
				<h1>{{user.manager_branch.all.0}}</h1>
				{% include 'manager_panel.html' %}
			</div>
        {% endif %}

		{% else %}
			{% include 'start_page.html' %}
			
			
	{% endif %} 


{% endblock %}





{% block javascript %}
<script>
  $(document).ready(function () {
      $("#add_new").submit(function (e) {
        $('#AddAddressModal').modal().hide();
          e.preventDefault();
          // serialize the data for sending the form data.
          var serializedData = $(this).serialize();
          console.log('sssssssss',serializedData)
          // make POST ajax call
          $.ajax({
              type: 'POST',
              url: "{% url 'check_out_post_address' %}",
              data: serializedData,
              success: function (response) {
                  $('#AddAddressModal').modal().hide();
                  $("#add_new").trigger('reset');
                  $('#AddAddressModal').modal('hide');
                  $('#address_list').html(response.data)

              },
              error: function (response) {
                  alert(response["responseJSON"]["error"]);
              }
          })
      })
      
      $(".delete-item").click(function (e) {
          e.preventDefault();
          console.log(111)
          var _Pid = $(this).attr('data-item');
          console.log( _Pid)
          $.ajax({
            
            url: "{% url 'delete_cart_item' %}",
            data: {'pk':_Pid},
            dataType:'json',
            success: function (response) {
                $('#cart_item_table').html(response.data)
				console.log(111111)
				console.log(response.data2)
				$('#x').html(response.data2)
				
            },
            error: function (response) {
                alert(response["responseJSON"]["error"]);
            }
        })
    
      })  



	  $("#user-input").keyup(function () {
		console.log(111);
		var q = $(this).val();
		console.log(q)
		$.ajax({
		  
		  url: "{% url 'search' %}",

		  data: {'q':q},

		  dataType:'json',

		  success: function (response) {
			  $('#result').html(response.data)

		  },
		  error: function (response) {
			  alert(response["responseJSON"]["error"]);
		  }
	  })  
	  
	})  

	$(".category").click(function (e) {
		e.preventDefault();
		console.log(113333311)
		var _Cid = $(this).attr('data-item');
		console.log( _Cid)
		$.ajax({
		  
		  url: "{% url 'category_foods' %}",
		  data: {'category_id':_Cid},
		  dataType:'json',
		  success: function (response) {
			  $('#products').html(response.data)				       

		  },
		  error: function (response) {
			  alert(response["responseJSON"]["error"]);
		  }
	  })

	  
	}) 

	})
		
	

</script>
{% endblock javascript %}
