{% extends 'base.html' %}

{% load static %}
{% block content %}
{% load cart %}
{% load custom_filter %}

<!-- filter ------------------------------------------------------------------------>
        
            

<div class="container">
   <div class="row">
    <div class="col-lg-2 mx-auto">
        <fieldset class="form-group">
            <div class="row mt-4">
              <p>Status</p>
              <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="all_orders" checked>
                    <label class="form-check-label" for="gridRadios1">
                      First radio
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="ordered">
                    <label class="form-check-label" for="gridRadios2">
                      Second radio
                    </label>
                </div>
              </div>
            </div>
          </fieldset>
    </div>
    <div id='orders' class="col-lg-10 mx-auto border rounded p-4 m-3 ">
        <p>Your Orders</p>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    {% comment %} <th>Image</th> {% endcomment %}   
                    <th>Date</th> 
                    <th>Address</th>  
                    <th>Total Price</th>
                    <th>Status</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                
                {% for order in orders %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    
                    <td>{{order.created_at}}</td>
                    <td>{{order.address}}</td>
                    <td>{{order.total_price|currency}}</td>
                     <td>
                        {% if order.status.status == 'delivered' %}
                            <small >delivered</small>
                        {% endif %}
                        {% if order.status.status == 'sent' %}
                            <small >sent</small>
                        {% endif %}
                        {% if order.status.status == 'ordered' %}
                            <small >ordered</small>
                        {% endif %}
                        {%if order.status.status == 'unrecorded'%}
                            <small >unrecorded</small>
                        
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'order_items' order.pk %}" class=" m-1">
                            <i class="fa fa-info-circle" aria-hidden="true" style="font-size:18px; color:gray;"></i>
                        </a>  
                    </td>
                </tr>
                
                {% endfor %}
               
            </tbody>

        </table>
    </div>
       
   </div>
</div>


{% endblock %}
{% block javascript %}
<script>
    var CSRF_TOKEN = '{{ csrf_token }}';
    var ALL_ORORDERS = "{% url 'branch_orders' %}"
    {% comment %} var POPULAR_CATEGORIES_URL = "{% url 'popular_categories' %}" {% endcomment %}
</script>
<script src={% static '/js/branch_orders.js' %}></script>
{% endblock javascript %} 